.left  { float: left; }
.right { float: right; }

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.bg-gray { background: #808080; }
.bg-dark-green { background: #092f3a; }
.bg-dark-yellow { background: #d9b711; }
.bg-orange{ background: #ff9600; }

.flex-grow-1 {flex-grow: 1;}
.flex-grow-2 {flex-grow: 1;}

.small-font {
  font-size: 10px;
}

.large-font {
  text-transform: uppercase;
  font-size: 44px;
  line-height: 50px;
}

.c-gray { color: gray }
.c-orange{ color: #ff9600; }
.c-aqua { color: #11bfae }
.c-dark-yellow { color: #d9b711 }
.c-acid-green { color: #00fe2a }
.c-red { color: #df090a }
.c-dark-blue { color: #1b3c59 }
.c-white { color: #fff }

.td-underline { text-decoration: underline; }

.is-hidden { display: none; }