.left  { float: left; }
.right { float: right; }

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.bg-gray { background: #808080; }
.bg-dark-green { background: #092f3a; }
.bg-green { background: #11bf6f; }
.bg-aqua { background: #11bfae }
.bg-red { background: #ef0909 }
.bg-dark-yellow { background: #d9b711; }
.bg-orange{ background: #ff9600; }
.bg-dark-blue { background: #1b3c59 }
.bg-dark-blue2 { background: #132434 }
.bg-dark-gray { background: #131a1f }

.c-gray { color: gray }
.c-orange{ color: #ff9600; }
.c-aqua { color: #11bfae }
.c-dark-yellow { color: #d9b711 }
.c-acid-green { color: #00fe2a }
.c-red { color: #df090a }
.c-dark-blue { color: #1b3c59 }
.c-white { color: #fff }
.c-green { color: #11bf6f; }

.fsz-12-15 {font-size: 12px; line-height: 15px;}
.fsz-14-17 {font-size: 14px; line-height: 17px;}
.fsz-18-27 {font-size: 18px; line-height: 27px;}
.fsz-22-25 {font-size: 22px; line-height: 25px;}
.fsz-44-50 {font-size: 44px; line-height: 50px;}
.fsz-100-110 {font-size: 100px; line-height: 110px;}

.tt-upper {text-transform: uppercase;}

.fw-100 {font-weight: 100;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-700 {font-weight: 700;}

.d-ib {display: inline-block;}

.td-underline { text-decoration: underline; }

.is-hidden { display: none; }