doctype html
include shared/head.pug
body
  .l-header
    .l-header-left
      a.logo(href='/')
        img(src='images/logo.png', alt='logo')
    .l-header-center
      .btn
        span.icon.icon-s-white-question
        span.btn-text Faq
      .btn
        span.icon.icon-s-white-referrals
        span.btn-text Referrals
      .rbtn Free POINTS
      .btn
        span.icon.icon-s-white-support
        span.btn-text Support
      .btn
        span.icon.icon-s-white-team
        span.btn-text Teamplay mode
      .btn
        span.icon.icon-s-white-cart
        span.btn-text Market
    .l-header-right
      .btn
        span.icon.icon-s-green-coins
        span.btn-text.btn-big-text 154556
      .user-short-info
        .portrait
          .portrait-wrap
            img(src='images/Desert5.png', width='55', height='55', alt='userpic')
        span
          | Hello,
          br
          |                     Mr. 
          a(href='#') Igor
      .btn
        span.icon.icon-s-white-sector
        span.btn-text Inventory
      .btn
        span.icon.icon-s-white-bell
      .btn
        span.icon.icon-s-white-gear
      .btn
        span.icon.icon-s-white-close
  .l-content.l-constraint-p25-0-50
    .l-constraint-mw1400.l-offset-m0a
      .l-constraint-p15.l-offset-mb10.bg-dark-green
        .l-flex-row
          div
            span.icon.icon-m-green-referrals
          .l-flex-row-col-g1.fsz-22-25
            | You have 
            span.c-aqua 2
            |  referral users
      .l-constraint-p15.l-offset-mb10.bg-dark-green
        .fsz-18-27.fw-100
          | After sign in you can create and spread your own promo code to refer users and earn commission from their real coins bets.
          br
          |                     Each newly registered user can redeem this code within 24 hours since registration and get free 20 points.
          br
          |                     Only users who played at least 8 hours of CS:GO prior to registration can claim this promo coins!
          br
          |                     Please be respectful with how you share your promo code or link, those found disruptively and aggressively spamming codes may have their code nullified.
          br
          |                     Likewise, do not advertise your code in the chatbox on the website, this will also nullify your code.
          br
          |                     You may not refer yourself on another account.
          br
          |                     When you got the required number of referred unique depositors you can take your commissions below.
      .l-constraint-p15
        .l-flex-row
          .l-flex-row-col-g1
            .l-offset-mb10.fsz-18-27 YOUR REFERRAL LINK
            .input-text.input-text-534-50
              .input-text-btn Copy
              .input-text-field
                input(type='text', value='http//www.skinwin.com')
            .l-constraint-p15.l-constraint-mw500.fsz-18-27.fw-100
              | When someone clicks on your link and signs in, then this personbecomes your referral, as well as this person would enter your code
          .l-flex-row-col-g1
            .l-offset-mb10.fsz-18-27 YOUR CODE
            .input-text.input-text-534-50
              .input-text-btn Copy
              .input-text-field
                input(type='text')
            .l-constraint-p15.l-constraint-mw500.fsz-18-27.fw-100
              | When someone clicks on your link and signs in, then this personbecomes your referral, as well as this person would enter your code
      .l-constraint-p15.l-offset-mb10.bg-dark-green
        .l-flex-row.fsz-22-25
          div
            .l-constraint-w40.c-aqua.fw-700 5
          .l-flex-row-col-g1 Unique Depositers
          .l-flex-row-col-g1
            | (Invite 
            span.c-aqua 3
            |  more)
          .l-flex-row-col-g1
            span.c-aqua 200
          div
            .rbtn.rbtn-h30 Get
      .l-constraint-p15.l-offset-mb10.bg-dark-green
        .l-flex-row.fsz-22-25
          div
            .l-constraint-w40.c-aqua.fw-700 25
          .l-flex-row-col-g1 Unique Depositers
          .l-flex-row-col-g1
            | (Invite 
            span.c-aqua 30
            |  more)
          .l-flex-row-col-g1
            span.c-aqua 2100
          div
            .rbtn.rbtn-h30 Get
  .l-footer
    .l-footer-wrap
      .l-footer-main
        .left
          | skinwin.com is the honest jackpot for CS:GO and Dota 2.
          br
          |                     The winner is chosen by independent random number generator Random.org
        .right
          a(href='#')
            span.icon.icon-m-green-mail
          a(href='#')
            span.icon.icon-m-green-facebook
          a(href='#')
            span.icon.icon-m-green-twitter
      .l-footer-links
        a(href='#') Privacy Policy
        |  
        a(href='#') Terms and Conditions
        |  | © skinwin.com 2017
