doctype html
include shared/head.pug
body
  .l-header
    .l-header-left
      a.logo(href='/')
        img(src='images/logo.png', alt='logo')
    .l-header-center
      .btn
        span.icon.icon-s-white-question
        span.btn-text Faq
      .btn
        span.icon.icon-s-white-referrals
        span.btn-text Referrals
      .rbtn Free POINTS
      .btn
        span.icon.icon-s-white-support
        span.btn-text Support
      .btn
        span.icon.icon-s-white-team
        span.btn-text Teamplay mode
      .btn
        span.icon.icon-s-white-cart
        span.btn-text Market
    .l-header-right
      .btn
        span.icon.icon-s-green-coins
        span.btn-text.btn-big-text 154556
      .user-short-info
        .portrait
          .portrait-wrap
            img(src='images/assets/Desert5.png', width='55', height='55', alt='userpic')
        span
          | Hello,
          br
          |                     Mr. 
          a(href='#') Igor
      .btn
        span.icon.icon-s-white-sector
        span.btn-text Inventory
      .btn
        span.icon.icon-s-white-bell
      .btn
        span.icon.icon-s-white-gear
      .btn
        span.icon.icon-s-white-close
  .l-content
    .l-game-menu
      .bookmark
        .bookmark-wrap
          .bookmark-img
            span.icon.icon-s-white-csgo
          .bookmark-label Jackpot
          .bookmark-amount
            span.icon.icon-xs-white-coins
            |  5484
      .bookmark
        .bookmark-wrap
          .bookmark-img
            span.icon.icon-s-white-roulette
          .bookmark-label Double
          .bookmark-amount
            span.icon.icon-xs-white-coins
            |  5484
      .bookmark
        .bookmark-wrap
          .bookmark-img
            span.icon.icon-s-white-dota
          .bookmark-label Dota
          .bookmark-amount
            span.icon.icon-xs-white-coins
            |  5484
      .bookmark
        .bookmark-wrap
          .bookmark-img
            span.icon.icon-s-white-coinflip
          .bookmark-label Coinflip
          .bookmark-amount
            span.icon.icon-xs-white-coins
            |  45684
      .bookmark.crash-bookmark
        .bookmark-wrap
          .bookmark-img
            span.icon.icon-s-white-halfmoon
          .bookmark-label Crash
          .bookmark-amount
            span.icon.icon-xs-white-coins
            |  45684
      .join-now
        .icon.icon-m-white-gift
        .join-now-text
          a(href='#') GIVEAWAY
          br
          | AK-47 | Dragon
        .rbtn.rbtn-h30 Join now!
    .l-game-crash
      .l-game-crash-center
        .bulb
          .bulb-wrap
            .bulb-wrap-bg
              canvas#canvas5(width='380', height='380')
          #dd1.bulb-number 4.65
          .bulb-mark.bulb-mark-1 2.2
          .bulb-mark.bulb-mark-2 2
          .bulb-mark.bulb-mark-3 1.8
          .bulb-mark.bulb-mark-4 1.6
          .bulb-mark.bulb-mark-5 1.4
      .l-game-crash-left
        .l-current-bets
          #rbox3.rscroll-box
            .rscroll-box-wrap
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Sultanya
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.07 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  113758.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait.portrait-bgag
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Kadir
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.0437 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  1137fdf58.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Sultanya
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.07 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  113758.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait.portrait-bgag
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Kadir
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.0437 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  1137fdf58.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Sultanya
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.07 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  113758.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait.portrait-bgag
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Kadir
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.0437 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  1137fdf58.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Sultanya
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.07 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  113758.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait.portrait-bgag
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Kadir
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.0437 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  1137fdf58.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Sultanya
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.07 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  113758.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait.portrait-bgag
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Kadir
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.0437 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  1137fdf58.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Sultanya
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.07 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  113758.38
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .l-flex-row.l-flex-row-m10.l-constraint-mw310.l-constraint-p5-0.fsz-12-15.fw-300.tt-upper
                    div
                      .portrait.portrait-bgag
                        .portrait-wrap
                          img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                    .text-left Kadir
                    .l-flex-row-col-g1.text-right
                      span.text-center.d-ib
                        span.c-aqua @:
                        |  1.0437 
                        span.c-aqua BET:
                        |  5.0
                        br
                        span.c-aqua $
                        |  1137fdf58.38
            canvas#canvas4.scrl-canvas(width='90', height='420')
      .l-game-crash-right
        .l-place-bet
          .radio-btn Manual
          .radio-btn.is-radio-btn-checked Automatic
          .l-place-bet-form
            .fsz-12-15.l-offset-mb5.tt-upper Bet:(Max 100,000 Coins)
            .input-text.input-text-100p-30
              .input-text-btn COINS
              .input-text-field
                input(type='text')
            .fsz-12-15.l-offset-mb5.tt-upper Auto cashout at (0 = disabled):
            .input-text.input-text-100p-30
              .input-text-btn X
              .input-text-field
                input(type='text')
            .text-center
              .rbtn Place your BET
  .l-container.l-constraint-mw1600.l-constraint-p5-0.l-offset-m0a
    hr
    .l-container-header
      .fsz-44-50.td-upper.text-center Bets
    table.l-table
      tr.l-table-header
        td Bust
        td @
        td Bet
        td Profit
        td Hash
      tr
        td.c-red 1.61
        td -
        td -
        td -
        td
          span.icon.icon-s-green-hash
      tr
        td.c-aqua 1.61
        td -
        td -
        td -
        td
          span.icon.icon-s-green-hash
      tr
        td.c-green 1.61
        td -
        td -
        td -
        td
          span.icon.icon-s-green-hash
      tr
        td.c-red 1.61
        td -
        td -
        td -
        td
          span.icon.icon-s-green-hash
      tr
        td.c-red 1.61
        td -
        td -
        td -
        td
          span.icon.icon-s-green-hash
  br
  .l-footer
    .l-footer-wrap
      .l-footer-main
        .left
          | skinwin.com is the honest jackpot for CS:GO and Dota 2.
          br
          |                     The winner is chosen by independent random number generator Random.org
        .right
          a(href='#')
            span.icon.icon-m-green-mail
          a(href='#')
            span.icon.icon-m-green-facebook
          a(href='#')
            span.icon.icon-m-green-twitter
      .l-footer-links
        a(href='#') Privacy Policy
        |  
        a(href='#') Terms and Conditions
        |  | © skinwin.com 2017
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js', defer='')
  // build:js js/scripts2.min.js
  script(src='js/libs/jquery.cvScrollBox.js?v5', defer='')
  script(src='js/libs/bulb.js?v5', defer='')
  script(src='js/pages/crash.js?v1', type='text/javascript', defer='')
  // endbuild
