doctype html
include shared/head.pug

body
  .l-header
    .l-header-left
      a.logo(href='/')
        img(src='images/logo.png', alt='logo')
    .l-header-center
      .btn
        span.icon.icon-s-white-question
        span.btn-text Faq
      .btn
        span.icon.icon-s-white-referrals
        span.btn-text Referrals
      .rbtn Free POINTS
      .btn
        span.icon.icon-s-white-support
        span.btn-text Support
      .btn
        span.icon.icon-s-white-team
        span.btn-text Teamplay mode
      .btn
        span.icon.icon-s-white-cart
        span.btn-text Market
    .l-header-right
      .btn
        span.icon.icon-s-green-coins
        span.btn-text.btn-big-text 154556
      .user-short-info
        .portrait
          .portrait-wrap
            img(src='assets/Desert5.png', width='55', height='55', alt='userpic')
        span
          | Hello,
          br
          |                     Mr. 
          a(href='#') Igor
      .btn
        span.icon.icon-s-white-sector
        span.btn-text Inventory
      .btn
        span.icon.icon-s-white-bell
      .btn
        span.icon.icon-s-white-gear
      .btn
        span.icon.icon-s-white-close
  .l-content
    .l-game-menu
      .bookmark
        .bookmark-wrap
          .bookmark-img
            span.icon.icon-s-white-csgo
          .bookmark-label Jackpot
          .bookmark-amount
            span.icon.icon-xs-white-coins
            |  5484
      .bookmark.double-bookmark
        .bookmark-wrap
          .bookmark-img
            span.icon.icon-s-white-roulette
          .bookmark-label Double
          .bookmark-amount
            span.icon.icon-xs-white-coins
            |  5484
      .bookmark
        .bookmark-wrap
          .bookmark-img
            span.icon.icon-s-white-dota
          .bookmark-label Dota
          .bookmark-amount
            span.icon.icon-xs-white-coins
            |  5484
      .bookmark
        .bookmark-wrap
          .bookmark-img
            span.icon.icon-s-white-coinflip
          .bookmark-label Coinflip
          .bookmark-amount
            span.icon.icon-xs-white-coins
            |  45684
      .bookmark
        .bookmark-wrap
          .bookmark-img
            span.icon.icon-s-white-halfmoon
          .bookmark-label Crash
          .bookmark-amount
            span.icon.icon-xs-white-coins
            |  45684
      .join-now
        .icon.icon-m-white-gift
        .join-now-text
          a(href='#') GIVEAWAY
          br
          | AK-47 | Dragon
        .rbtn.rbtn-h30 Join now!
    .l-game-double
      .l-game-double-center
        .roulette2
          .roulette2-wrap
            canvas#canvas7(width='410', height='410')
          .roulette2-pick
          .roulette2-number
            span 01
            |  : 
            span 41
      .l-game-double-left
        .text-right.l-btn-list.l-btn-list-pt10.l-btn-list-pr20
          .btn.btn-h30.tab-link.is-btn-active(data-key='luck_prev')
            span.btn-text Daily STATISTICS
          .btn.btn-h30.tab-link(data-key='history')
            span.btn-text GAME HISTORY
        .l-history.tab.tab-history.is-hidden
          #rbox1.rscroll-box
            .rscroll-box-wrap
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .scrl-item
                    .scrl-item-pict
                      span.icon.icon-m-timer
                    .scrl-item-info
                      .rbtn.rbtn-h30.bg-orange Details
                    .scrl-item-desc
                      | Game 
                      span.c-aqua #4121
                      br
                      |                                             Won with chance 72
                      span.c-red %
                      br
                      span.c-orange $kin God
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .scrl-item
                    .scrl-item-pict
                      span.icon.icon-m-timer
                    .scrl-item-info
                      .rbtn.rbtn-h30.bg-orange Details
                    .scrl-item-desc
                      | Game 
                      span.c-aqua #4121
                      br
                      |                                             Won with chance 72
                      span.c-red %
                      br
                      span.c-orange $kin God
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .scrl-item
                    .scrl-item-pict
                      span.icon.icon-m-timer
                    .scrl-item-info
                      .rbtn.rbtn-h30.bg-orange Details
                    .scrl-item-desc
                      | Game 
                      span.c-aqua #4121
                      br
                      |                                             Won with chance 72
                      span.c-red %
                      br
                      span.c-orange $kin God
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .scrl-item
                    .scrl-item-pict
                      span.icon.icon-m-timer
                    .scrl-item-info
                      .rbtn.rbtn-h30.bg-orange Details
                    .scrl-item-desc
                      | Game 
                      span.c-aqua #4121
                      br
                      |                                             Won with chance 72
                      span.c-red %
                      br
                      span.c-orange $kin God
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .scrl-item
                    .scrl-item-pict
                      span.icon.icon-m-timer
                    .scrl-item-info
                      .rbtn.rbtn-h30.bg-orange Details
                    .scrl-item-desc
                      | Game 
                      span.c-aqua #4121
                      br
                      |                                             Won with chance 72
                      span.c-red %
                      br
                      span.c-orange $kin God
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .scrl-item
                    .scrl-item-pict
                      span.icon.icon-m-timer
                    .scrl-item-info
                      .rbtn.rbtn-h30.bg-orange Details
                    .scrl-item-desc
                      | Game 
                      span.c-aqua #4121
                      br
                      |                                             Won with chance 72
                      span.c-red %
                      br
                      span.c-orange $kin God
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .scrl-item
                    .scrl-item-pict
                      span.icon.icon-m-timer
                    .scrl-item-info
                      .rbtn.rbtn-h30.bg-orange Details
                    .scrl-item-desc
                      | Game 
                      span.c-aqua #4121
                      br
                      |                                             Won with chance 72
                      span.c-red %
                      br
                      span.c-orange $kin God
              .rscroll-box-item
                .rscroll-box-item-wrap
                  .scrl-item
                    .scrl-item-pict
                      span.icon.icon-m-timer
                    .scrl-item-info
                      .rbtn.rbtn-h30.bg-orange Details
                    .scrl-item-desc
                      | Game 
                      span.c-aqua #4121
                      br
                      |                                             Won with chance 72
                      span.c-red %
                      br
                      span.c-orange $kin God
            canvas#canvas3.scrl-canvas(width='100', height='295')
        .l-luck-of-day.tab.tab-luck_prev
          .user-stat
            .user-stat-picture
              .portrait.portrait-bgy
                .portrait-wrap
                  img(src='assets/Desert5.png', width='55', height='55', alt='userpic')
            .user-stat-desc
              .user-stat-label.c-dark-yellow Luck of the day
              .user-stat-name Gloria,
              .user-stat-amount
                | Amount won: 
                span.c-dark-yellow 39.26
                |  (1.27%)
              .user-stat-ticket
                | Winning ticket: 
                span.c-dark-yellow 1-100
        .l-previous-winner.tab.tab-luck_prev
          .user-stat
            .user-stat-picture
              .portrait.portrait-bgag
                .portrait-wrap
                  img(src='assets/Desert5.png', width='55', height='55', alt='userpic')
            .user-stat-desc
              .user-stat-label.c-acid-green Luck of the day
              .user-stat-name Gloria,
              .user-stat-amount
                | Amount won: 
                span.c-acid-green 39.26
                |  (1.27%)
              .user-stat-ticket
                | Winning ticket: 
                span.c-acid-green 1-100
      .l-game-double-right
        .l-btn-list.l-btn-list-pl20
          .btn.btn-h30.tab-link(data-key='luck_prev')
            span.icon.icon-s-green-chips
            span.btn-text
              | POINTS BALANCE: 
              span.c-aqua 897623014
          .rbtn.rbtn-h30.rbtn-acty Deposit
        .l-place-bet2
          .l-place-bet2-koef
            span.fsz-12-15 +10
            span.fsz-12-15 +50
            span.fsz-12-15 +100
            span.fsz-12-15 +500
            span.fsz-12-15 1k
            span.fsz-12-15 x0.5
            span.fsz-12-15 x2
            span.fsz-12-15 all
          .l-place-bet2-enter
            span Enter your amount
            input(type='text', value='5100')
          .l-place-bet2-range
            .range
              .range-marker
              .range-level
          .l-place-bet2-bets
            div Place a bet
            span.card
              span.card-left 0
              span.card-right X2
            span.card.bg-green
              span.card-left 0
              span.card-right X2
            span.card.bg-dark-blue2
              span.card-left 0
              span.card-right X2
            span.card.bg-aqua
              span.card-left 0
              span.card-right X2
    .nhistory
      .nhistory-title Numbers history
      .nhistory-items
        span.bg-red 11
        span.bg-aqua SW
        span.bg-aqua 14
        span.bg-green 0
        span.bg-red 9
        span.bg-red 3
        span.bg-aqua SW
        span.bg-aqua SW
    .l-container(style='padding: 10px 0;')
      .l-flex-row.l-flex-row-ac.l-constraint-mw1600.l-offset-m0a
        .l-bets-list
          .l-bets-list-header
            .text-center.bg-red.l-constraint-p5-0.l-offset-mb5
              .fsz-22-25.fw-700 1-17
              .fsz-14-17 (x2)
            .l-flex-row.l-constraint-p5-0.fsz-22-25.bg-dark-gray
              .text-left.l-flex-row-col-g1 Total BET:
              .text-right.c-red 4100
          .l-bets-list-items
            .v-scroll-box
              .v-scroll-box-wrap
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgpink
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgpink
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgpink
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgpink
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgpink
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgpink
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgpink
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
              .v-scroll-box-bar
                div
        .l-bets-list
          .l-bets-list-header
            .text-center.bg-green.l-constraint-p5-0.l-offset-mb5
              .fsz-22-25.fw-700 0
              .fsz-14-17 (x12)
            .l-flex-row.l-constraint-p5-0.fsz-22-25.bg-dark-gray
              .text-left.l-flex-row-col-g1 Total BET:
              .text-right.c-green 4100
          .l-bets-list-items
            .v-scroll-box
              .v-scroll-box-wrap
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgg
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgg
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgg
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgg
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgg
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgg
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgg
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
              .v-scroll-box-bar
                div
        .l-bets-list
          .l-bets-list-header
            .text-center.bg-dark-blue2.l-constraint-p5-0.l-offset-mb5
              .fsz-22-25.fw-700 1-17
              .fsz-14-17 (x2)
            .l-flex-row.l-constraint-p5-0.fsz-22-25.bg-dark-gray
              .text-left.l-flex-row-col-g1 Total BET:
              .text-right.c-dark-blue 4100
          .l-bets-list-items
            .v-scroll-box
              .v-scroll-box-wrap
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
              .v-scroll-box-bar
                div
        .l-bets-list
          .l-bets-list-header
            .text-center.bg-aqua.l-constraint-p5-0.l-offset-mb5
              .fsz-22-25.fw-700 1-17
              .fsz-14-17 (x2)
            .l-flex-row.l-constraint-p5-0.fsz-22-25.bg-dark-gray
              .text-left.l-flex-row-col-g1 Total BET:
              .text-right.c-aqua 4100
          .l-bets-list-items
            .v-scroll-box(id='')
              .v-scroll-box-wrap
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
                .l-flex-row.l-flex-row-m10.l-constraint-p5-0.fsz-14-17.tt-upper
                  div
                    .portrait.portrait-bgag-nsh.portrait-bgdb
                      .portrait-wrap
                        img(src='assets/Desert5.png', width='35', height='35', alt='userpic')
                  .text-left.l-flex-row-col-g1 Kadir
                  .text-right 500
              .v-scroll-box-bar
                div
  .l-footer
    .l-footer-wrap
      .l-footer-main
        .left
          | skinwin.com is the honest jackpot for CS:GO and Dota 2.
          br
          |                     The winner is chosen by independent random number generator Random.org
        .right
          a(href='#')
            span.icon.icon-m-green-mail
          a(href='#')
            span.icon.icon-m-green-facebook
          a(href='#')
            span.icon.icon-m-green-twitter
      .l-footer-links
        a(href='#') Privacy Policy
        |  
        a(href='#') Terms and Conditions
        |  | © skinwin.com 2017
        
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js', defer='')
  // build:js js/scripts1.min.js
  script(src='js/libs/roulette2.js', defer='')
  script(src='js/libs/jquery.cvScrollBox.js?v5', defer='')
  script(src='js/pages/double.js?v1', type='text/javascript', defer='')
  //endbuild
