doctype html
html(lang='en')
  include shared/head.pug
  body
    .l-header
      .l-header-left
        a.logo(href='/')
          img(src='images/logo.png', alt='logo')
      .l-header-center
        .btn
          span.icon.question-icon
          span.btn-text Faq
        .btn
          span.icon.referrals-icon
          span.btn-text Referrals
        .rbtn Free POINTS
        .btn
          span.icon.support-icon
          span.btn-text Support
        .btn
          span.icon.team-icon
          span.btn-text Teamplay mode
        .btn
          span.icon.cart-icon
          span.btn-text Market
      .l-header-right
        .btn
          span.icon.coins-icon
          span.btn-text.btn-big-text 154556
        .user-short-info
          .portrait
            .portrait-wrap
              img(src='images/assets/Desert5.png', width='55', height='55', alt='userpic')
          span
            | Hello,
            br
            |                     Mr. 
            a(href='#') Igor
        .btn
          span.icon.sector-icon
          span.btn-text Inventory
        .btn
          span.icon.bell-icon
        .btn
          span.icon.gear-icon
        .btn
          span.icon.close-icon
    .l-content
      .chat-btn
        span.icon.message-icon
      .chat.is-chat-hidden
        .chat-header Chat
        .chat-list
          .scrl-item.is-scrl-item-message
            .scrl-item-pict
              .portrait
                .portrait-wrap
                  img(src='images/assets/Desert5.png', alt='userpic', height='35', width='35')
            .scrl-item-info
              | 6min
            .scrl-item-desc
              strong Matt Thompson
              br
              |                         Thanks again you have been...
          .scrl-item
            .scrl-item-pict
              .portrait
                .portrait-wrap
                  img(src='images/assets/Desert5.png', alt='userpic', height='35', width='35')
            .scrl-item-info
              | 6min
            .scrl-item-desc
              strong Kayne West
              br
              |                         Where is the nearest place to take some  notes or something like that. I would like to hear that by you! Thank You in
          .scrl-item
            .scrl-item-pict
              .portrait
                .portrait-wrap
                  img(src='images/assets/Desert5.png', alt='userpic', height='35', width='35')
            .scrl-item-info
              | 6min
            .scrl-item-desc
              strong Mace Windu
              br
              |                         Protect the senator at all costs.
          .scrl-item
            .scrl-item-pict
              .portrait
                .portrait-wrap
                  img(src='images/assets/Desert5.png', alt='userpic', height='35', width='35')
            .scrl-item-info
              | 6min
            .scrl-item-desc
              strong Matt Thompson
              br
              |                         Thanks again you have been...
        .chat-answer
          .chat-send
            span.icon.send2-icon
          textarea @Kristen Mckellar What do you think if we replace  it more to the left?
      .l-game-menu
        .bookmark.is-bookmark-active
          .bookmark-wrap
            .bookmark-img
              span.icon.csgo-icon
            .bookmark-label Jackpot
            .bookmark-amount
              span.icon.coins2-icon
              |  5484
        .bookmark
          .bookmark-wrap
            .bookmark-img
              span.icon.roulette-icon
            .bookmark-label Double
            .bookmark-amount
              span.icon.coins2-icon
              |  5484
        .bookmark
          .bookmark-wrap
            .bookmark-img
              span.icon.dota-icon
            .bookmark-label Dota
            .bookmark-amount
              span.icon.coins2-icon
              |  5484
        .bookmark
          .bookmark-wrap
            .bookmark-img
              span.icon.coinflip-icon
            .bookmark-label Coinflip
            .bookmark-amount
              span.icon.coins2-icon
              |  45684
        .bookmark
          .bookmark-wrap
            .bookmark-img
              span.icon.halfmoon-icon
            .bookmark-label Crash
            .bookmark-amount
              span.icon.coins2-icon
              |  45684
        .join-now
          .icon.gift-icon
          .join-now-text
            a(href='#') GIVEAWAY
            br
            | AK-47 | Dragon
          .rbtn.rbtn-h30 Join now!
      .l-game-cs
        .l-game-cs-bg
        .l-game-cs-stat
          canvas#canvas1(width='600', height='600')
          .game-timer
            .game-timer-points
              span.icon.ak47-icon
              br
              | 18.83
            .game-timer-counter.c-dark-blue
              span.td-underline 01
              | :
              span.td-underline 41
            .game-timer-info
              | 4 
              span.c-aqua  
              span.c-dark-blue 16
        .l-game-cs-left
          .text-right.l-btn-list.l-btn-list-pt10.l-btn-list-pr20
            .btn.btn-h30.tab-link.is-btn-active(data-key='top-list')
              span.btn-text Daily STATISTICS
            .btn.btn-h30.tab-link(data-key='history')
              span.btn-text GAME HISTORY
            .btn.btn-h30.tab-link(data-key='luck_prev')
              span.btn-text TOP
          .l-top-list.tab.tab-top-list.is-hidden
            #rbox2.rscroll-box
              .rscroll-box-wrap
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        .portrait
                          .portrait-wrap
                            img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                          .portrait-label 20
                        |                                             HUlky
                      .scrl-item-desc.text-right
                        .text-center
                          span.c-aqua The Winning amount
                          br
                          span.c-aqua $
                          |  113758.38
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        .portrait
                          .portrait-wrap
                            img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                          .portrait-label 20
                        |                                             HUlky
                      .scrl-item-desc.text-right
                        .text-center
                          span.c-aqua The Winning amount
                          br
                          span.c-aqua $
                          |  113758.38
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        .portrait
                          .portrait-wrap
                            img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                          .portrait-label 20
                        |                                             HUlky
                      .scrl-item-desc.text-right
                        .text-center
                          span.c-aqua The Winning amount
                          br
                          span.c-aqua $
                          |  113758.38
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        .portrait
                          .portrait-wrap
                            img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                          .portrait-label 20
                        |                                             HUlky
                      .scrl-item-desc.text-right
                        .text-center
                          span.c-aqua The Winning amount
                          br
                          span.c-aqua $
                          |  113758.38
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        .portrait
                          .portrait-wrap
                            img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                          .portrait-label 20
                        |                                             HUlky
                      .scrl-item-desc.text-right
                        .text-center
                          span.c-aqua The Winning amount
                          br
                          span.c-aqua $
                          |  113758.38
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        .portrait
                          .portrait-wrap
                            img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                          .portrait-label 20
                        |                                             HUlky
                      .scrl-item-desc.text-right
                        .text-center
                          span.c-aqua The Winning amount
                          br
                          span.c-aqua $
                          |  113758.38
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        .portrait
                          .portrait-wrap
                            img(src='images/assets/Desert5.png', width='35', height='35', alt='userpic')
                          .portrait-label 20
                        |                                             HUlky
                      .scrl-item-desc.text-right
                        .text-center
                          span.c-aqua The Winning amount
                          br
                          span.c-aqua $
                          |  113758.38
              canvas#canvas4.scrl-canvas(width='90', height='285')
          .l-history.tab.tab-history.is-hidden
            #rbox1.rscroll-box
              .rscroll-box-wrap
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        span.icon.timer-icon
                      .scrl-item-info
                        .rbtn.rbtn-h30.bg-orange Details
                      .scrl-item-desc
                        | Game 
                        span.c-aqua #4121
                        br
                        |                                             Won with chance 72
                        span.c-red %
                        br
                        span.c-orange $kin God
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        span.icon.timer-icon
                      .scrl-item-info
                        .rbtn.rbtn-h30.bg-orange Details
                      .scrl-item-desc
                        | Game 
                        span.c-aqua #4121
                        br
                        |                                             Won with chance 72
                        span.c-red %
                        br
                        span.c-orange $kin God
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        span.icon.timer-icon
                      .scrl-item-info
                        .rbtn.rbtn-h30.bg-orange Details
                      .scrl-item-desc
                        | Game 
                        span.c-aqua #4121
                        br
                        |                                             Won with chance 72
                        span.c-red %
                        br
                        span.c-orange $kin God
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        span.icon.timer-icon
                      .scrl-item-info
                        .rbtn.rbtn-h30.bg-orange Details
                      .scrl-item-desc
                        | Game 
                        span.c-aqua #4121
                        br
                        |                                             Won with chance 72
                        span.c-red %
                        br
                        span.c-orange $kin God
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        span.icon.timer-icon
                      .scrl-item-info
                        .rbtn.rbtn-h30.bg-orange Details
                      .scrl-item-desc
                        | Game 
                        span.c-aqua #4121
                        br
                        |                                             Won with chance 72
                        span.c-red %
                        br
                        span.c-orange $kin God
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        span.icon.timer-icon
                      .scrl-item-info
                        .rbtn.rbtn-h30.bg-orange Details
                      .scrl-item-desc
                        | Game 
                        span.c-aqua #4121
                        br
                        |                                             Won with chance 72
                        span.c-red %
                        br
                        span.c-orange $kin God
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        span.icon.timer-icon
                      .scrl-item-info
                        .rbtn.rbtn-h30.bg-orange Details
                      .scrl-item-desc
                        | Game 
                        span.c-aqua #4121
                        br
                        |                                             Won with chance 72
                        span.c-red %
                        br
                        span.c-orange $kin God
                .rscroll-box-item
                  .rscroll-box-item-wrap
                    .scrl-item
                      .scrl-item-pict
                        span.icon.timer-icon
                      .scrl-item-info
                        .rbtn.rbtn-h30.bg-orange Details
                      .scrl-item-desc
                        | Game 
                        span.c-aqua #4121
                        br
                        |                                             Won with chance 72
                        span.c-red %
                        br
                        span.c-orange $kin God
              canvas#canvas3.scrl-canvas(width='90', height='285')
          .l-luck-of-day.tab.tab-luck_prev
            .user-stat
              .user-stat-picture
                .portrait.portrait-bgy
                  .portrait-wrap
                    img(src='images/assets/Desert5.png', width='55', height='55', alt='userpic')
              .user-stat-desc
                .user-stat-label.c-dark-yellow Luck of the day
                .user-stat-name Gloria,
                .user-stat-amount
                  | Amount won: 
                  span.c-dark-yellow 39.26
                  |  (1.27%)
                .user-stat-ticket
                  | Winning ticket: 
                  span.c-dark-yellow 1-100
          .l-previous-winner.tab.tab-luck_prev
            .user-stat
              .user-stat-picture
                .portrait.portrait-bgag
                  .portrait-wrap
                    img(src='images/assets/Desert5.png', width='55', height='55', alt='userpic')
              .user-stat-desc
                .user-stat-label.c-acid-green Luck of the day
                .user-stat-name Gloria,
                .user-stat-amount
                  | Amount won: 
                  span.c-acid-green 39.26
                  |  (1.27%)
                .user-stat-ticket
                  | Winning ticket: 
                  span.c-acid-green 1-100
          .l-team
            .user-member
              .user-member-picture
                .portrait
                  .portrait-wrap
                    img(src='images/assets/Desert5.png', width='45', height='45', alt='userpic')
              .user-member-stat
                | Igor
                br
                span.c-aqua $
                | 52   
                span.c-red 8.7
                | %
            .user-member
              .user-member-picture
                .portrait
                  .portrait-wrap
                    img(src='images/assets/Desert5.png', width='45', height='45', alt='userpic')
              .user-member-stat
                | Igor
                br
                span.c-aqua $
                | 52   
                span.c-red 8.7
                | %
        .l-game-cs-right
          .l-btn-list.l-btn-list-pl20
            .rbtn.rbtn-h30.rbtn-acty Send to steam
            .rbtn.rbtn-h30.rbtn-acty Place a bet
            .sandwich
              .sandwich-solid
                span.icon.sandwich-icon
              .sandwich-popup
                .l-popup
                  .l-popup-wrap
                    .l-popup-block
                      .btn
                        span.icon.send-icon
                        span.btn-text Send to Friend
                    .l-popup-block.bg-dark-green
                      .btn
                        span.icon.gift2-icon
                        span.btn-text Make GIVEAWAY
            .btn.m-hide-on-1650
              span.btn-text
                | Selected items: 
                span.c-aqua 4
            .btn.m-hide-on-1750
              span.btn-text
                | Total value: 
                span.c-aqua 379
          .l-items
            .l-items-fbtn
            #sbx3.h-scroll-box.h-scroll-box-st2
              .h-scroll-box-inner
                .h-scroll-box-wrap
                  .h-scroll-box-item
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item2.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg3
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item1.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item3.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                  .h-scroll-box-item
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item1.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item2.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg2
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item3.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                  .h-scroll-box-item
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item2.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item1.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item3.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                  .h-scroll-box-item
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg2
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item3.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg3
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item2.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item1.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                  .h-scroll-box-item
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item2.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item3.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
                    .cs-item.cs-item-db.cs-item-bg.cs-item-bg1
                      .cs-item-picture
                        img(alt='item', src='images/assets/cs-item1.png')
                      .cs-item-desc
                        span.c-aqua $
                        |  1253
              .h-scroll-box-bar
                div
          .l-chance
            .game-chances
              .game-chances-picture
                span.icon.percent-icon
              .game-chances-desc
                | Your CHANCE to WIN: 
                span.c-white 79
                span.c-red %
                br
                |                             Team CHANCE to WIN: 
                span.c-white 99
                span.c-red %
      .l-container
        .roulette
          .roulette-wrap
            canvas#canvas2(width='1068', height='120')
          .roulette-winner.is-hidden
            .roulette-winner-name
              | Congratulations 
              span.c-aqua Igor
            .roulette-winner-info The winner ticket is #49 (22.8%)
      .l-container
        hr
        .l-container-header
          .large-font.text-center Bets
        .l-container-row.l-constraint-p70
          .bet
            .bet-user
              .portrait
                .portrait-wrap
                  img(src='images/assets/Desert5.png', width='50', height='50', alt='userpic')
              div Igor
            .bet-info
              p
                span.icon.small-shield-icon
                |  Number of items 
                span.c-dark-yellow 23
              p
                span.icon.small-ak47-icon
                |  Number of items 
                span.c-aqua 42
              p
                span.icon.small-percent-icon
                |  Number of items 23
                span.c-red %
              p
                span.icon.small-ticket-icon
                |  Number of items 
                span.c-acid-green #23-200
            .bet-items
              #sbx1.h-scroll-box
                .h-scroll-box-inner
                  .h-scroll-box-wrap
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item3.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item2.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item3.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                .h-scroll-box-bar
                  div
        .l-container-row.l-constraint-p70
          .bet
            .bet-user
              .portrait
                .portrait-wrap
                  img(src='images/assets/Desert5.png', width='50', height='50', alt='userpic')
              div Igor
            .bet-info
              p
                span.icon.small-shield-icon
                |  Number of items 
                span.c-dark-yellow 23
              p
                span.icon.small-ak47-icon
                |  Number of items 
                span.c-aqua 42
              p
                span.icon.small-percent-icon
                |  Number of items 23
                span.c-red %
              p
                span.icon.small-ticket-icon
                |  Number of items 
                span.c-acid-green #23-200
            .bet-items
              #sbx2.h-scroll-box
                .h-scroll-box-inner
                  .h-scroll-box-wrap
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item3.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item2.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item3.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item3.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item2.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item3.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item3.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item2.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                    .h-scroll-box-item
                      .cs-item
                        .cs-item-picture
                          img(alt='item', src='images/assets/cs-item3.png')
                        .cs-item-desc
                          span.c-aqua $
                          |  1253
                .h-scroll-box-bar
                  div
                    
    include shared/footer.pug
