.l-luck-of-day {
  height: 160px;
  margin-top: -5px;
  padding: 45px 50px 0 0;
  text-align: right;
  background: url(../images/curved-bg/cs-go/top-left-yellow.png) top right no-repeat;
}

.l-previous-winner {
  height: 160px;
  margin: 12px 72px 0 0;
  padding: 45px 5px 0 0;
  text-align: right;
  background: url(../images/curved-bg/cs-go/center-left-green.png) top right no-repeat;
}

.l-team {
  height: 121px;
  margin-top: 12px;
  padding: 18px 40px 0 0;
  text-align: right;
  background: url(../images/curved-bg/cs-go/bottom-left-blue3.png) top right no-repeat;

  & > div {
    margin-right: 50px;
  }
}

.l-items {
  position: relative;
  height: 370px;
  background: url(../images/curved-bg/cs-go/top-right-blue.png) top left 2px no-repeat;
  padding: 20px 50px 0 130px;

  &-fbtn {
    position: absolute;
    cursor: pointer;
    top: 37px;
    left: 70px;
    width: 63px;
    height: 63px;
    background: url(../images/btns/add.png);
  }

  & > .h-scroll-box {
    width: auto;
    max-width: 440px;
    position: relative;

    .h-scroll-box-inner {
      margin-left: 20px;
      width: auto;
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 100px;
        .bg-transparent-gradient-to-right(#fff, @body-color, 0);
        content: '';
      }
    }

    .cs-item {
      margin: 0 -7px;
    }
  }
}

.l-chance {
  height: 92px;
  margin-top: -5px;
  padding: 24px 0 0 55px;
  background: url(../images/curved-bg/cs-go/bottom-right-red.png) top left no-repeat;
}

.l-history {
  height: 319px;
  margin-bottom: 20px;
  padding: 5px 35px 0 0;
  text-align: right;
  background: url(../images/curved-bg/cs-go/top-left-dark-yellow.png) top right 4px no-repeat;

  & > .rscroll-box {
    @media (max-width: 1500px) {
      .scrl-item-info {
        display: none;
      }
      .scrl-item {
        width: 260px;
      }
      .rscroll-box-item {
        padding-right: 70px;
      }
    }
  }
}

.l-top-list {
  height: 319px;
  margin-bottom: 20px;
  padding: 5px 35px 0 0;
  text-align: right;
  background: url(../images/curved-bg/cs-go/top-left-purple.png) top right 4px no-repeat;

  & > .rscroll-box {
    .rscroll-box-item {
      padding-right: 40px;
    }
    @media (max-width: 1500px) {
      .scrl-item {
        width: 260px;
      }
      .rscroll-box-item {
        padding-right: 70px;
      }
    }
  }
  & > .rscroll-box {
  }
}

.l-current-bets {
  height: 470px;
  margin: 12px 0 0 0;
  padding: 5px 15px 0 0;
  text-align: right;
  background: url(../images/curved-bg/crash/top-left-green.png) top right no-repeat;

  & > .rscroll-box {
    height: 420px;
    padding: 10px 10px 0 0;
    .rscroll-box-item {
      padding-right: 100px;
    }
    canvas {
      right: 10px;
    }
  }
}

.l-place-bet {
  max-width: 450px;
  height: 370px;
  margin: 12px 72px 0 0;
  padding: 25px 5px 0 50px;
  background: url(../images/curved-bg/crash/top-right-red.png) top left no-repeat;

  & > .radio-btn {
    margin-right: 35px;
  }

  &-form {
    margin: 70px 0 0 60px;

    & > .input-text {
      margin-bottom: 40px;
      .input-text-btn {
        width: 100px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        background: #d61651;
      }
    }
  }
}

.l-place-bet2 {
  height: 310px;
  margin: 7px 10px 0 0;
  padding: 20px 5px 0 60px;
  background: url(../images/curved-bg/double/top-right-blue.png) top left no-repeat;

  &-koef {
    & > span {
      margin-right: 20px;
      &:last-child {margin-right: 0;}
    }
  }

  &-enter {
    padding: 38px 0 0 30px;
    vertical-align: middle;

    span {
      display: inline-block;
      margin-right: 10px;
      font-size: 18px;
      line-height: 24px;
      vertical-align: middle;
    }

    input {
      display: inline-block;
      width: 100px;
      border: 1px solid #bda70a;
      font: bold 24px/28px @font-family-base;
      text-align: center;
      background: none;
      color: #fff;
      vertical-align: middle;
    }
  }

  &-range {
    padding: 38px 0 0 47px;
  }

  &-bets {
    font-size: 0;
    padding: 38px 0 0 47px;
    vertical-align: middle;

    div {
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 5px;
    }

    & > .card {
      margin-right: 7px;
    }
  }

  @media (max-width: 1500px) {
    &-enter {
      padding-top: 20px;

      span {
        width: 100px;
      }
    }
    &-bets {
      padding-top: 25px;
    }
  }
}

.l-player1 {
  height: 237px;
  margin: 0 60px 0 0;
  padding: 0 50px 0 0;
  text-align: right;
  background: url(../images/curved-bg/coinflip/top-left-green.png) top right no-repeat;

  & > .l-flex-row {
    justify-content: flex-end;
    margin-right: 40px;

    .h-scroll-box {
      width: auto;
      max-width: 360px;
      position: relative;

      @media (max-width: 1500px) {
        max-width: 240px;
      }
    }
  }
}

.l-player2 {
  height: 254px;
  padding: 14px 110px 0 0;
  text-align: right;
  background: url(../images/curved-bg/coinflip/bottom-left-blue.png) top right no-repeat;

  & > .l-flex-row {
    justify-content: flex-end;
    margin-right: 40px;

    .h-scroll-box {
      width: auto;
      max-width: 360px;
      position: relative;

      @media (max-width: 1500px) {
        max-width: 240px;
      }
    }
  }
}

.l-items2 {
  position: relative;
  height: 370px;
  background: url(../images/curved-bg/cs-go/top-right-blue.png) top left 2px no-repeat;
  padding: 10px 0 0 130px;

  & > .l-item-list {
    padding: 0 0 0 0;
    height: 340px;

    .cs-item {
      margin-bottom: 15px;
      &:last-child {margin-bottom: 0;}
    }
  }

  & > .h-scroll-box {
    width: auto;
    max-width: 440px;
    position: relative;

    .l-item-list {
      padding: 0 0 0 0;
      height: 340px;

      .cs-item {
        margin-bottom: 15px;
        &:last-child {margin-bottom: 0;}
      }
    }

    .h-scroll-box-inner {
      margin-left: 20px;
      width: auto;
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50px;
        .bg-transparent-gradient-to-right(#fff, @body-color, 0);
        content: '';
      }
    }
  }

  &-fbtn {
    position: absolute;
    cursor: pointer;
    top: 37px;
    left: 70px;
    width: 63px;
    height: 63px;
    background: url(../images/btns/add.png);
  }
}

.l-join {
  height: 260px;
  margin-top: 22px;
  padding: 110px 210px 0 0;
  text-align: right;
  background: url(../images/curved-bg/coinflip/bottom-left-transparent.png) top right no-repeat;
}