.l-constraint-p0-70 {
  padding: 0 70px;
}

.l-constraint-p5-0 {
  padding: 5px 0;
}

.l-constraint-mw1400 {
  max-width: 1400px;
}

.l-constraint-mw1600 {
  max-width: 1600px;
}

.l-constraint-w100p {
  width: 100%;
}

.l-constraint-mw500 {
  max-width: 500px;
}

.l-constraint-mw625 {
  max-width: 625px;
}

.l-constraint-w200 {
  width: 200px;
}

.l-constraint-mw310 {
  width: 100%;
  max-width: 310px;
}

.l-constraint-mh230 {
  max-height: 230px;
}

.l-constraint-mh170 {
  max-height: 170px;
}

.l-constraint-w40 {
  width: 40px;
}

.l-constraint-w150 {
  width: 150px;
}

.l-constraint-w100 {
  width: 100px;
}

.l-constraint-w310 {
  width: 310px;
}

.l-constraint-w350 {
  width: 350px;
}

.l-constraint-mw750 {
  max-width: 750px;
}

.l-constraint-w900 {
  width: 900px;
}

.l-constraint-w260 {
  width: 260px;
}

.l-constraint-p15 {
  padding: 15px;
}

.l-constraint-p10 {
  padding: 10px;
}

.l-constraint-pl20 {
  padding-left: 20px;
}

.l-constraint-pl30 {
  padding-left: 30px;
}

.l-constraint-pl15 {
  padding-left: 15px;
}

.l-constraint-pr30 {
  padding-right: 30px;
}
.l-constraint-pr90 {
  padding-right: 90px;
}

.l-constraint-p25-0-50 {
  padding: 25px 0 50px;
}

.l-constraint-p40-0-40 {
  padding: 45px 0 40px;
}