.l-game-menu {
  position: relative;
  display: flex;
  height: 230px;
  padding-top: 25px;
  justify-content: center;

  @media (max-height: @v2_height) {
    margin-top: -50px;
    height: 180px;
    padding-top: 0;
  }

  & > div {
    margin: 0 16px;
  }
}
