.l-table {
  width: 100%;

  td {
    padding: 8px 20px;
    font: 15px/18px @font-family-base;
    vertical-align: middle;

    &.l-table-td-p0 {
      width: 170px;
      text-align: left;
      padding: 0;
    }
  }

  .l-table-header {
    background: #171e21;

    td {
      color: #11bfae;
    }
  }

  .l-table-header-p20 {
    td {
      padding: 20px;
    }
  }

  tr:nth-child(2n) {
    background: #061a2c;
  }
}


