.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  .btn-text {
    display: inline-block;
    margin-left: 5px;
    font: 12px/17px @font-family-base;
  }

  .btn-big-text {
    font: bold 14px/16px @font-family-base;
  }
}

.btn-h45 {
  height: 45px;
}

.is-btn-active {
  .btn-text {
    color: #11bfae;
  }
}

.btn-menu {
  position: relative;
  overflow: visible;

  &.is-btn-open {
    & > div {
      display: inherit;
    }
    & > .user-info {
      display: flex;
    }
  }

  & > div {
    position: absolute;
    display: none;
  }

  & > .l-popup {
    top: 63px;
    right: -5px;
    height: 92px;
    cursor: default;
  }

  & > .user-info {
    top: 78px;
    left: -58px;
    cursor: default;
  }
}