.h-scroll-box {
  position: relative;
  overflow: visible;

  &-inner {
    width: 100%;
    overflow: hidden;
  }

  &-wrap {
    box-sizing: content-box;
    display: flex;
    background: #061a2c;
    //transition: transform 0.3s linear;
  }

  &-item {
    flex-shrink: 0;
    margin: 5px;
  }

  &-bar {
    height: 6px;
    margin-top: 6px;
    border-radius: 3px;
    overflow: visible;
    background: #061a2c;

    & > div {
      width: 100px;
      height: 100%;
      background: #092741;
      border-radius: 3px;
      //transition: transform 0.3s linear;
      .outer-shadow(5px, #092741);
    }
  }
}

.h-scroll-box-animated {
  .h-scroll-box-wrap {
    transition: transform 0.3s linear;
  }

  .h-scroll-box-bar {
    & > div {
      transition: transform 0.3s linear;
    }
  }
}

.h-scroll-box-st2 {
  .h-scroll-box-wrap {
    background: none;
  }

  .h-scroll-box-bar {
    & > div {
      background: #11bfae;
      .outer-shadow(5px, #11bfae);
    }
  }
}

.h-scroll-box-st3 {
  .h-scroll-box-wrap {
    box-sizing: content-box;
    padding: 23px 40px 5px 40px;
    font-size: 0;

    .h-scroll-box-item {
      margin: 10px;
    }
  }
}

.h-scroll-box-st4 {
  overflow: hidden;

  .h-scroll-box-bar {
    display: none;
  }

  .h-scroll-box-next, .h-scroll-box-prev {
    position: absolute;
    top: 100px;
    width: 50px;
    height: 100px;
    cursor: pointer;
    &:after {
      top: 16px;
      position: absolute;
      display: block;
      width: 62px;
      height: 62px;
      border-bottom: 5px solid #464c52;
      border-right: 5px solid #464c52;
      content: '';
    }
  }

  .h-scroll-box-next {
    left: 0;
    &:after {
      left: 12px;
      transform: rotateZ(135deg);
    }
  }

  .h-scroll-box-prev {
    right: 0;
    &:after {
      right: 12px;
      transform: rotateZ(-45deg);
    }
  }

  .h-scroll-box-inner {
    width: auto;
    margin: 0 70px;
  }

  .h-scroll-box-wrap {
    box-sizing: content-box;
    padding: 0;
    justify-content: center;
    font-size: 0;
    background: none;

    .h-scroll-box-item {
      margin: 30px 35px;
    }
  }
}