.rbtn {
  display: inline-block;
  height: 34px;
  padding: 11px 18px 0;
  border-radius: 17px;
  background-color: #11bf6f;
  text-align: center;
  font: 400 12px/13px @font-family-base;
  cursor: pointer;
}

.rbtn-h30 {
  padding-top: 8px;
  height: 30px;
}

.rbtn-acty {
  padding-top: 6px;
  border: 2px solid #e1bd11;
  background: none;

  &:hover {
    background: #e1bd11;
  }
}